{{ define "main" }}
<div class="flex flex-col flex-nowrap min-h-dvh bg-white pb-20">
    <div class="flex flex-col flex-nowrap justify-center items-start m-auto max-w-[1280px]
                2md:max-w-[1380px]">
        <div class="flex flex-row flex-wrap justify-center items-start pt-0 pb-12 px-2 gap-5 -mt-4
                    ">
            <div class="flex flex-col flex-nowrap justify-start items-start max-w-[500px] gap-2.5 mt-1 px-6
                        sm:px-8 sm:mt-5
                        2md:max-w-[600px]"> 
                <div class="select-text flex flex-row flex-nowrap gap-3 items-start font-medium text-pink text-3xl text-start tracking-wider mb-7 truncate
                            sm:text-3xl">
                    {{ with .Resources.Get "pagecontent/header.md" }}
                        {{ .Content }}
                    {{ end }}
                    <h1 class="text-semilightblack text-3xl font-extralight truncate
                                sm:text-3xl"> ABOUT ME </h1>
                </div>
                <div class="select-text flex flex-row items-start gap-2.5 -mt-3 font-normal text-xl tracking-wide
                            sm:text-xl sm:font-normal sm:tracking-wider
                            2md:text-left">
                    {{ with .Resources.Get "pagecontent/subheader.md" }}
                        {{ .Content }}
                    {{ end }}
                </div>
                <div class="select-text flex flex-col items-start gap-2.5 mt-4 pb-8 -mb-9 font-normal text-sm tracking-wide
                            sm:text-sm sm:font-normal sm:tracking-wide
                            2md:text-left">
                    {{ with .Resources.Get "pagecontent/description.md" }}
                        {{ .Content }}
                    {{ end }}
                </div>
            </div>
            <div class="flex items-center max-w-[430px] h-auto rounded-sm mt-8 shadow-user-sm mx-7
                        sm:mx-0
                        1md:max-w-[400px]">
                <img src="/img/profilephoto_jakoblundoe.webp" alt="Jakob Lundoe profile photo" class="rounded-sm">
            </div>
        </div>
        <div class="flex flex-col flex-nowrap justify-center items-start px-4 max-w-[982px]
                    2md:max-w-[1082px]">
            {{ partial "dropdownbox.html" . }}
        </div >
    </div>
    {{ partial "footer.html" . }}
</div>
{{ end }}