<!DOCTYPE html>
<html lang="en">
{{ partial "meta.html" . }}
<body data-page="{{ .Params.page_class }}" class="bg-grey-shade-3" style="padding-top: env(safe-area-inset-top); padding-bottom: env(safe-area-inset-bottom);">
    <div class="fixed top-0 left-0 w-full bg-grey-shade-3 z-50" style="height: env(safe-area-inset-top);"></div>
    <div class="fixed bottom-0 left-0 w-full bg-grey-shade-3 z-50" style="height: env(safe-area-inset-bottom);"></div>
    <div id="mainviewport" class="relative min-h-screen pb-20 bg-white">
        <div id="sidebarnav"
             class="fixed top-0 right-0 h-full translate-x-full bg-white z-30 pl-6 pr-3 border-l border-black">
            {{ partial "sidebarnav" . }}
        </div>
        <div id="headernav" class="top-0 left-0 w-full z-30 px-0 sm:block">
            {{ partial "header" . }}
        </div>
        <div id="banner" class="w-full p-0 m-0">
            {{ partial "banner" . }}
        </div>
        <div class="flex flex-col flex-nowrap justify-center">
            {{ block "main" . }}
            {{ end }}
        </div>
        {{ partial "somebar" . }}
    </div>
</body>
</html>