{{ define "main" }}
<div class="flex flex-col flex-nowrap justify-start items-center bg-white mt-28 sm:mt-36 md:mt-52">
    <div class="flex flex-col flex-nowrap justify-center items-center gap-8 m-auto px-10">
        <div class="select-text flex flex-row justify-center items-start gap-2.5 tracking-wider text-center">
            {{ with .Resources.Get "pagecontent/description.md" }}
            <h2>{{ .Content | plainify | htmlUnescape | strings.TrimSpace }}</h2>
            {{ end }}
        </div>
        <div class="select-text flex flex-col flex-nowrap self-center gap-5">
            <div class="flex self-center p-1 gap-2.5 -mt-4
                        sm:[&_p]:text-lg [&_p]:font-normal [&_p]:text-base [&_p]:tracking-wide">
                {{ with .Resources.Get "pagecontent/email.md"}}
                    {{ .Content }}
                {{ end }}
            </div>
            {{ with .Resources.Get "pagecontent/button.md" }}
                {{ $btn_text := .Params.btn_text }}
                {{ $btn_link := .Params.btn_link }}
                {{ $btn_target := .Params.btn_target }}
                <div class="[&_span]:text-lg [&_span]:font-light [&_span]:text-sm [&_span]:tracking-wide
                            [&_a]:py-6">
                    {{ if $btn_text }}
                        {{ partial "button-primary" (dict "text" $btn_text "url" $btn_link "target" $btn_target) }}
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </div>
</div>
{{ end }}