@import 'plyr/dist/plyr.css';
@tailwind base;

@layer base {
    html {
        @apply font-spacegrotesk;
        @apply text-grey-shade-3;
        @apply select-none;
        overflow-y: scroll;        
    }
}

@tailwind components;
@tailwind utilities;

/* PLYR CUSTOMIZATION */
:root {
    --plyr-color-main: rgb(111, 140, 184);
    --plyr-video-control-background-hover: rgba(0, 0, 0, 0.705);
}
.plyr__video-wrapper {
    border-radius: 2px;
}
.plyr {
    border-radius: 2px;
}

/* NOT WORKING */
.plyr-musicvideo {
    --plyr-video-background: rgba(255, 255, 255, 0);
    --plyr-video-controls-background: white;
    --plyr-video-control-color: rgb(74, 84, 100);
    --plyr-video-progress-buffered-background: rgba(193, 200, 209, 0.6);
}

.plyr__controls,
.plyr__control--overlaid {
    transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.15s ease;
    opacity: 1;
}

.plyr--video.plyr--stopped:not(:hover) .plyr__controls,
.plyr--video.plyr--paused:not(:hover) .plyr__controls,
.plyr--video.plyr--paused:not(:hover) .plyr__control--overlaid {
    opacity: 0;
}

.plyr__control.plyr__control--overlaid:hover {
    background-color: black;
}