@import 'plyr/dist/plyr.css';
@tailwind base;

@layer base {
    html {
        @apply font-spacegrotesk;
        @apply text-grey-shade-3;
        /*@apply select-none;*/
        overflow-y: scroll;
    }
    h1 {
        @apply text-grey-shade-3 text-2xl font-normal leading-9 sm:text-3xl;
    }
    h2 {
        @apply text-black text-2xl font-normal leading-9 sm:text-3xl;
    }
    h3 {
        @apply text-grey-shade-2 text-xl font-normal leading-7;
    }
    h4 {
        @apply text-grey-shade-2 text-lg font-normal leading-7;
    }
    p {
        @apply text-grey-shade-3 text-sm font-normal leading-relaxed;
    }
    /* spans inside paragraphs */
    p span {
        @apply text-grey-shade-3 text-sm font-bold leading-relaxed;
    }
    /* add margin-bottom to paragraphs (similar to [&_p]:mb-2 on a wrapper) */
    p + p {
        @apply mt-2; /* margin-top on any p that follows another p */
    }
}

@tailwind components;

@layer components {
    .overlay-item-title {
        @apply text-white text-base font-normal leading-normal;
    }
    .overlay-subheader {
        @apply text-grey-tint-2 text-sm font-normal leading-tight;
    }
    .overlay-tag-title {
        @apply text-grey-tint-2 text-xs font-normal leading-none;
    }
    .overlay-year {
        @apply text-grey-tint-2 text-xs font-normal leading-none;
    }
}

@tailwind utilities;

@layer utilities {
    .safe-top {
        padding-top: env(safe-area-inset-top);
    }
    .safe-bottom {
        padding-bottom: env(safe-area-inset-bottom);
    }
    .safe-left {
        padding-left: env(safe-area-inset-left);
    }
    .safe-right {
        padding-right: env(safe-area-inset-right);
    }
}

/* PLYR CUSTOMIZATION */
:root {
    --plyr-color-main: rgb(111, 140, 184);
    --plyr-video-control-background-hover: rgba(0, 0, 0, 0.705);
}
.plyr__video-wrapper {
    border-radius: 2px;
}
.plyr {
    border-radius: 2px;
}

/* NOT WORKING */
.plyr-musicvideo {
    --plyr-video-background: rgba(255, 255, 255, 0);
    --plyr-video-controls-background: white;
    --plyr-video-control-color: rgb(74, 84, 100);
    --plyr-video-progress-buffered-background: rgba(193, 200, 209, 0.6);
}

.plyr__controls,
.plyr__control--overlaid {
    transition: opacity 0.3s ease, visibility 0.3s ease, background-color 0.15s ease;
    opacity: 1;
}

.plyr--video.plyr--stopped:not(:hover) .plyr__controls,
.plyr--video.plyr--paused:not(:hover) .plyr__controls,
.plyr--video.plyr--paused:not(:hover) .plyr__control--overlaid {
    opacity: 0;
}

.plyr__control.plyr__control--overlaid:hover {
    background-color: black;
}