<!--{{ $currentPage := . }}-->
<!--&lt;!&ndash; below class belongs to #footer.normal &ndash;&gt;-->
<!--<div id="footer" class="flex flex-row flex-nowrap justify-end items-center pr-6 pl-4 h-12 bg-white fixed bottom-0 w-full z-20 transition ease-out duration-2000-->
<!--      sm:flex-row sm:justify-between-->
<!--      {{ if ne $currentPage.Params.page_class "showreel_page"}}border-t border-solid border-semilightblack{{ end }}">-->
<!--      <div id="bottomnavbar" class="flex flex-row flex-nowrap mr-auto h-12">-->
<!--        {{ partial "nav.html" . }}-->
<!--        {{ partial "smartphonenav.html" . }}-->
<!--      </div>-->
<!--      <div>-->
<!--        {{ partial "somebar.html" . }}-->
<!--      </div>-->
<!--</div>-->