{{ $currentPage := . }}

<div class="flex flex-row flex-nowrap justify-center items-center -mr-1">
    <div class="hidden w-12 h-auto items-center justify-start opacity-80 transition ease-out duration-100
                hover:opacity-70 hover:scale-105
                active:opacity-50 active:scale-105
                sm:flex sm:justify-center">
        <a href="/showreel" data-internal-link="true">
            <img src="/img/jl-logo.webp" alt="Jakob Lundoe homepage logo" class="max-w-full max-h-full w-7">
        </a>
    </div>
    <div class="hidden flex-row flex-nowrap justify-center items-center py-1 px-1.5 gap-8
                [&_a]:font-mono [&_a]:text-light-black [&_a]:font-normal [&_a]:tracking-widest text-base [&_a]:transition [&_a]:ease-out [&_a]:duration-100
                hover:[&_a]:opacity-75 active:[&_a]:opacity-60
                sm:flex sm:justify-center sm:items-center">
        {{ $pages := where .Site.Pages "Params.inNavbar" true}}
        {{ $currentPage := . }}
        {{ with $pages }}
        {{ range sort $pages "Params.navbarOrder" }}
        {{ if eq .RelPermalink $currentPage.RelPermalink }}
        <a href="{{ .RelPermalink }}" data-internal-link="true" class="underline decoration-light-black decoration-1">{{ .Title }}</a>
        {{ else }}
        <a href="{{ .RelPermalink }}" data-internal-link="true">{{ .Title }}</a>
        {{ end }}
        {{ end }}
        {{ end }}
    </div>
</div>