{{ $section := .Site.GetPage "section" "musiccontent-audio" }}
<div class="columns-1 md:columns-2 3md:columns-3 gap-6 px-4">
{{ range $index, $page := sort $section.Pages "Params.order" }}
{{ $pageTitle := $page.Params.title }}
{{ $contentType := $page.Params.type }}
{{ $pageFilePath := $page.Params.filePath }}
{{ $pageImg := $page.Params.imgPath }}
{{ $cardType := $page.Params.cardType}}
{{ $thumbnailPath := .Params.thumbnail }}

    {{ if eq $cardType "audio" }}
    <div class="flex flex-col gap-2 mb-6 break-inside-avoid">
        <div class="flex flex-col justify-start max-w-[480px] min-w-[341px]">
            <div class="shadow-md">
                <div>
                    <div class="relative max-w-[480px]" style="border-top-left-radius: 2px; border-top-right-radius: 2px;">
                        <div id="audioContainer-{{ $index }}" class="absolute inset-0 w-full h-full" style="border-radius: inherit;">
                        </div>
                        <img src="{{ $pageImg }}" alt="music cover image" style="border-radius: inherit;">
                        <div id="play-music-overlay-{{ $index }}" style="border-radius: inherit;" class="absolute inset-0 opacity-0 flex justify-center items-center bg-less-transp-black ease-in-out duration-500
                                                                                                hover:cursor-pointer">
                            <div id="play-music-btn-{{ $index }}" class="ease-in-out duration-50 opacity-100">
                                <div class="flex justify-center items-center w-12 h-12 rounded-full bg-black bg-opacity-75">
                                    <ion-icon name="play" style="font-size: 24px; color: rgba(255, 255, 255, 0.85); padding-left: 4px;"></ion-icon>
                                </div>
                                <div class="absolute inset-0 flex justify-center items-center">
<!--                                    <h3 class="font-bebas text-5xl text-white tracking-wide mb-48">-->
<!--                                        {{ $pageTitle }}-->
<!--                                    </h3>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <audio preload="metadata" alt="audio file" class="plyr-audio">
                        <source src="{{ $pageFilePath }}.mp3" type="audio/mpeg">
                    </audio>
                </div>
            </div>
            <div class="select-text flex flex-col font-mono mt-2 ml-1
            [&_a]:text-pink [&_a]:font-medium hover:[&_a]:opacity-80 active:[&_a]:opacity-65">
                <div class="flex flex-row items-center gap-2 align-center">
                    <p class="text-base font-semibold text-semilightblack">
                        {{ $pageTitle }}
                    </p>
                    <p class="text-sm font-normal">
                        |
                    </p>
                    <p class="text-sm font-normal mt-[2px]">
                        {{ $contentType }}
                    </p>
                </div>
                <div class="select-text text-sm">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>
    {{ else if eq $cardType "video" }}
    <div class="flex flex-col gap-2 mb-6 break-inside-avoid">
        <div class="max-w-[480px]">
            <div id="musicvideo" class="shadow-md" style="border-radius: 2px;">
                <video playsinline preload="metadata" controls class="plyr-musicvideo" loop style="border-radius: 2px;" poster="{{ $thumbnailPath }}">
                    <source src="{{ $pageFilePath }}" alt="video file" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="select-text flex flex-col font-mono ml-1
        [&_a]:text-pink [&_a]:font-medium hover:[&_a]:opacity-80 active:[&_a]:opacity-65">
            <div class="flex flex-row items-center gap-2 align-center">
                <p class="text-base font-semibold text-semilightblack">
                    {{ $pageTitle }}
                </p>
                <p class="text-sm font-normal">
                    |
                </p>
                <p class="text-sm font-normal mt-[2px]">
                    {{ $contentType }}
                </p>
            </div>
            <div class="select-text text-sm">
                {{ .Content }}
            </div>
        </div>
    </div>
    {{ end }}
{{ end }}
</div>