<div class="flex flex-col flex-nowrap justify-start items-start gap-12 h-full">
    <button id="closemenubutton" class="fixed flex self-end justify-end w-11 h-auto items-end opacity-80 transition ease-out duration-200 my-3 mx-2
            hover:opacity-70 hover:scale-105
            active:opacity-50 active:scale-105">
        <ion-icon name="close-outline" alt="close menu icon" style="color: black; font-size: 36px; margin-bottom: 9px"></ion-icon>
    </button>
    <a href="/" data-internal-link="true" class="mt-2">
        <img src="/img/jl-logo-new-black.webp" alt="Jakob Lundoe homepage logo" class="mb-auto -ml-5 -mr-2 w-32
                transition ease-out duration-100
                hover:opacity-70 hover:scale-105
                active:opacity-50 active:scale-105">
    </a>
    <div class="flex flex-col flex-nowrap shrink-0 gap-4 items-start -mb-3 mt-4 mr-4
        [&_a]:font-mono [&_a]:text-light-black [&_a]:font-normal [&_a]:tracking-widest text-base [&_a]:transition [&_a]:ease-out [&_a]:duration-100
        hover:[&_a]:opacity-75 active:[&_a]:opacity-60
        sm:justify-center sm:items-center">
        {{ $pages := where .Site.Pages "Params.inNav" true}}
        {{ $currentPage := . }}
        {{ with $pages }}
            {{ range sort $pages "Params.navbarOrder" }}
                {{ if eq .RelPermalink $currentPage.RelPermalink }}
                    <a href="{{ .RelPermalink }}" data-internal-link="true" class="underline decoration-light-black decoration-1">{{ .Title }}</a>
                {{ else }}
                    <a href="{{ .RelPermalink }}" data-internal-link="true">{{ .Title }}</a>
                {{ end }}
            {{ end }}
        {{ end }}

        {{ $pages := where .Site.Pages "Params.inRightNav" true}}
        {{ $currentPage := . }}
        {{ with $pages }}
            {{ range sort $pages "Params.navbarOrder" }}
                {{ if eq .RelPermalink $currentPage.RelPermalink }}
                <a href="{{ .RelPermalink }}" data-internal-link="true" class="underline decoration-light-black decoration-1">{{ .Title }}</a>
                {{ else }}
                <a href="{{ .RelPermalink }}" data-internal-link="true">{{ .Title }}</a>
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
</div>